div#menu {
    text-align : center;
    padding : 10px;
    margin : 30px;
}

div#menu li {
    display : inline;
    padding : 10px
}

</style>
</head>
<body>
    <div id="menu">
        <ul>
            <li><a href="/admin/now/0">주문관리</a></li>
            <li><a href="/admin/menu">메뉴관리</a></li>
            <li><a href="/admin/sales">매출관리</a></li>
        </ul>        
    </div>