div#menu {
    text-align : center;
    padding : 10px;
    margin : 30px;
}

div#menu li {
    display : inline;
    padding : 10px
}

div#menu ul {
    padding : 10px
}

</style>
</head>
<body>

    <div id="head">
        <a href="/login">login</a>
        <a href="/logout">logout</a>
    </div>

    <div id="menu">
        <ul>
            <li><a href="/menu/1">coffee</a></li>
            <li><a href="/menu/2">tea</a></li>
            <li><a href="/menu/3">ade/juice</a></li>
            <li><a href="/menu/4">smoothie</a></li>
            <li><a href="/menu/5">dessert</a></li>
        </ul>        
    </div>